/* Light Effect */

#blackout {
    position: fixed;
    z-index: 1000;
    background-color: black;
    opacity: 0;
    bottom: 0;
    right: 0;
}

.lightEffect {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    fill: black;
    z-index: 1002;
}

.light {
    position: fixed;
    z-index: 1001;
    width: 339px;
    height: 305px;
    transform-style: ease-out;
}

#right-light {
    transform: rotate(-40deg);
    top: -114px;
    right: -250px;
}

#left-light {
    transform: rotate(40deg) scaleX(-1);
    top: -114px;
    left: -250px;
}


/* First parallax */

.gold-filter-1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: gold;
    opacity: .15;
    height: 100%;
    width: 100%;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img1 {
    background-image: url('../images/IAM.jpg');
    height: 100vh;
    bottom: 0;
}

.img1-text {
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 25px;
    padding: 130px 5px;
    margin-left: 60%;
    margin-right: 5px;
    font-size: 60px;
    position: relative;
}


/* About section */

.about {
    color: #000000;
}

.about-container {
    background-color: #FFFFFF;
    position: relative;
    min-height: 100vh;
}

#about-text {
    margin: 100px;
    padding: 5px;
    text-align: center;
    font-family: 'Mogra', cursive;
    font-size: 25px;
    position: absolute;
    background: rgba(40, 40, 40, .2);
    border-style: outset;
    border-color: gold;
    border-width: 4px;
}


/* Second Parrallax with big quote */

.parallax-2-text-container {
    min-height: 1500px;
    width: 100%;
    position: initial !important;
}

.img2 {
    /*  http://wallpapersonthe.net/19897-bokeh-lights-night/  */
    background-image: url('../images/bokeh-lights-sunset-city.jpg');
    min-height: 100%;
    position: relative;
}

.img2-text {
    font-size: 40px;
    color: white;
    font-family: 'Lato', sans-serif;
}

.dream-text {
    background: rgba(0, 0, 0, .75);
    border-style: solid;
    border-color: gold;
    border-width: 1px;
}

#dream-big {
    position: absolute;
    left: 5%;
    top: 15%;
    opacity: 0;
    padding: 0px 5px;
}

#dream-bigger {
    position: absolute;
    right: 0%;
    bottom: 50%;
    opacity: 0;
    padding: 0px 5px;
}

.isHidden {}


/* Action!/skill section */

.action-container {
    background-color: whitesmoke;
    height: 100vh;
    width: 100%;
    font-family: 'Shrikhand', cursive;
    padding: 0;
    margin: 0;
}

.action {
    position: relative;
    top: 50%;
    text-align: center;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
}

.skill-row {
    height: 50%;
    top: 50%;
    text-align: left;
    font-size: 20px;
    margin: 20px 1px;
    height: 50%;
}

.skill-container {
    height: 100%;
}

#actionPicture {
    background-image: url("http://placekitten.com/150/150");
    height: 50vh;
}

.skill-cell {
    height: 25vh;
}


/* Timeline */

.timelineButton {
    width: 100%;
    height: 50px;
    background-color: gold;
    font-size: 18px;
    font-family: 'Mogra', cursive;
}

.timelineButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#all-types-photo {
    height: 100vh;
}

.timeline-items-container {
    height: 100vh;
}

.timeline-items-container img {
    height: 50vh;
}


/* Other */

.blue-gradient {
    background-image: url('../images/blue-gradient.jpg');
}